body {
    text-align: center;
    background-color:black;
}

.slider {
    overflow: hidden;
    width: 400px;
    margin: 0 auto;
}

.slide {
    float: left;
    width: 400px;
}

img {
    width: 400px;
    height: 400px;
    margin-top: 120px;
    border-radius:1rem;
}

/* Style for FontAwesome icons */
button {
    margin-top: -230px;
    padding: 10px;
    font-size: 24px; /* Adjust the icon size as needed */
    background-color: green;
    border: none;
    cursor: pointer;
}

button:hover
{
    background-color: transparent;
}

/* Style for "Previous" button */
#prev {
    float: left;

}

/* Style for "Next" button */
#next {
    float: right;
}
